div > p { 
	background-color: yellow;
}


.list-group-item.list-group-item-action.flex-column.align-items-start > twitter-widget {
    border: 1px solid #00f;
    background: #fff;
}



/* <style>
.list-group-item.list-group-item-action.flex-column.align-items-start >div {
  background-color: yellow;
  display:inline-block;

}
.list-group-item.list-group-item-action.flex-column.align-items-start > div {
  display:none;
  visibility: hidden;
}
</style> */