<html>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" media="screen" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JS -->
	<script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


	<!-- SCRIPTS CREADOS -->
	<script src="{{ url_for('static', filename='js/common/get_dropdown_selection.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common/put_footer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/home/put_file_image.js') }}"></script>
	<!-- CSS CREADOS -->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/make_tables.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/footer.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/dropdown.css') }}" />


	<head>
		<style>
		.sucess_file:hover {
  				box-shadow: 0 0 15px rgba(0, 0, 0, 0.7) !important;
					border-radius: 33px !important;
					cursor: hand; 
				}
		.container{
			display: flex;
			max-height: 80px;
			max-width: 100%;
		}
		.info_image{
			width: 50;
			height: 50;
			margin-left: 33%;
			margin-right: 33%;
		}

		</style>

	</head>
	<body class="body">
		<header>
			<!-- <h3>{{ webpage_title }}</h3> -->
		</header>
		<script type="text/javascript">
			function get_action(form) {
				form.action = '/search/'+document.getElementById("search_input").value;
			}
		</script>

<!-- INICIO NAV BAR-->	
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
				<a class="navbar-brand" href="./">TFG_NAV</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="/statistics">General Statistics<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/rankings">Rankings</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="/politics_tweets">Politics tweets analysis</a>
					</li>



					<li class="nav-item dropdown" >
							<a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Collection
							</a>
							<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" id="collection_dropdown_menu">
								{% for c in collections %}
								<a class="dropdown-item" style="color:ghostwhite;" href=".">{{ c }}</a>
								{% endfor %}

					  </div>
					</li>
					<li class="nav-item">
					  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">collection = {{ collection }}</a>
					</li>
				  </ul>
					<form id="search_form" onsubmit="get_action(this);" class="form-inline my-2 my-lg-0" onSubmit="">
							<input id="search_input" class="form-control mr-sm-2 busqueda" type="search" placeholder="Search" aria-label="Search">
							<button id="search_button" class="btn btn-outline-success my-2 my-sm-0 busqueda" type="submit" value="Go" >Search</button>
							</form>
						</div>
					</nav>
<!-- FIN NAV BAR-->		



				<br><br><br/><br/>
				<div class="d-flex flex-row justify-content-center">
					<div class="d-flex flex-column justify-content-center">
						<img class='info_image p-2' src="{{ url_for('static', filename='img/update.svg') }}" alt='actualización'>
						<a >Last analysis = {{ last_update }}</a>
					</div>
				</div>

				


				<br><br>
				<h3>DOCUMENTOS ESPECIALES DE LA COLECCIÓN</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Documento</th>
							<th scope="col">Id</th>
							<th scope="col">Estado</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Statistics File</td>
							<td>"statistics_file_id"</td>
							<td id="statistics"></td>
						</tr>
						<tr>
							<td>Query File</td>
							<td>"query_file"</td>
							<td id="query"></td>
						</tr>
						<tr>
							<td>Streamming File</td>
							<td>"streamming_file_id"</td>
							<td id="streamming"></td>
						</tr>
						<tr>
							<td>Searched Users File</td>
							<td>"searched_users_file_id"</td>
							<td id="searched_users"></td>
						</tr>
						<tr>
							<td>Likes List File</td>
							<td>"likes_list_file_id"</td>
							<td id="likes"></td>
						</tr>
						<tr>
							<td>Users File</td>
							<td>"users_file_id"</td>
							<td id="users"></td>
						</tr>
					</tbody>
				</table>
				<script>
					var error_image_url = "{{ url_for('static', filename='img/file_error.png') }}";
					var sucess_image_url = "{{ url_for('static', filename='img/file_correct.png') }}";

					put_file_image("statistics",{{ statistics_dict|tojson }},"statistics_file",error_image_url,sucess_image_url);
					put_file_image("query",{{ query_file|tojson }} ,"query_file",error_image_url,sucess_image_url);
					put_file_image("searched_users",{{ searched_users_file|tojson }},"searched_users_file",error_image_url,sucess_image_url);
					put_file_image("streamming",{{ streamming_file|tojson }},"streamming_file",error_image_url,sucess_image_url);
					put_file_image("likes",{{ likes_list_file|tojson }},"likes_file",error_image_url,sucess_image_url);
					put_file_image("users",{{ users_file|tojson }} ,"users_file",error_image_url,sucess_image_url);
				</script>
		<br><br>
		<script>put_footer()</script>

	</body>

	
	</html>