<html>
	<!--<link rel="stylesheet" media="screen" href= "/static/bootstrap.min.css"> -->
	<link rel="stylesheet" media="screen" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
	<head>

	</head>
	<body class="body">
		<header>
			<!-- <h3>{{ webpage_title }}</h3> -->
		</header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="./">TFG_NAV</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="/statistics">General Statistics<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/rankings">Rankings</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="/politics_tweets">Politics tweets analysis</a>
					</li>


					<li class="nav-item">
							<a class="nav-link" href="/static/js/get_dropdown_selection.js">get_dropdown_selection</a>
					</li>



					<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Collection
					  </a>
					  <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="collection_dropdown_menu">
							{% for c in collections %}
							<a class="dropdown-item" href=".">{{ c }}</a>
							{% endfor %}

						<!-- <a class="dropdown-item" href="#">Another action</a> -->
						<!-- <div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a> -->
					  </div>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/graph_example">Graph</a>
					</li>
					<!-- <li class="nav-item">
					  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					</li> -->
				  </ul>
				  <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				  </form>
				</div>
			  </nav>

				<h5>Colección actual = {{ collection }}</h5>
				<h5>Last update = {{ last_update }}</h5>




	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type = "text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/get_dropdown_selection.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post_to_flask.js') }}"></script>

	</html>