<html>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" media="screen" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JS -->
	<script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Library used to do list tables with sorting, filtering and pagination-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
	<!-- Library used to be able to access to nested atributes using string Eg: User.name -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"> </script>
	<!-- Libraries to do graphics -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>



	<!-- SCRIPTS CREADOS -->
	<script src="{{ url_for('static', filename='js/common/put_bar_char.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common/put_semi_circle_graph.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common/make_table_with_special_doc.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common/put_footer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/politics/get_users_of_a_political_party.js') }}"></script>
	<script src="{{ url_for('static', filename='js/politics/put_politics_section.js') }}"></script>
	<script src="{{ url_for('static', filename='js/politics/get_num_tweets_by_party.js') }}"></script>
	<script src="{{ url_for('static', filename='js/politics/get_num_likes_by_party.js') }}"></script>
	<script src="{{ url_for('static', filename='js/politics/make_table_with_percentage_bar.js') }}"></script>
	<script src="{{ url_for('static', filename='js/politics/make_table_with_multiple_special_doc.js') }}"></script>

	<!-- CSS CREADOS -->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/make_tables.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/footer.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/dropdown.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/table_with_percentage.css') }}" />


	<head>
		
			<style>
				.PP_members{
					background-color: #2ECCFA;   
					border-radius: 25px;
				}
				.PSOE_members{
					background-color: #FF0000;
					border-radius: 25px;
				}
				.PODEMOS_members{
					background-color: #672F6C;
					border-radius: 25px;
				}
				.CIUDADANOS_members{
					background-color: orange;
					border-radius: 25px;
				}
				.COMPROMIS_members{
					background-color: #E65F00;
					border-radius: 25px;
				}
				.VOX_members{
					background-color: green;
					border-radius: 25px;
				}
				.member{
					background-color: #E6E6E6;
					border-radius: 25px;
				}
				.member:hover {
  				box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); 
				}

			.graph {
				height: auto;
				width: auto;
				max-width: 800px;
				margin: 0 auto;
			}
			#search_type_distribution{
				height: 80%;
			}

			.highcharts-pie-series .highcharts-point {
				stroke: #EDE;
				stroke-width: 2px;
			}
			.highcharts-pie-series .highcharts-data-label-connector {
				stroke: silver;
				stroke-dasharray: 2, 2;
				stroke-width: 2px;
			}
			.primera_fila{
				display: flex;
			}
			.clickable_div:hover{
				cursor: pointer;
			}


			</style>
	</head>
	<body class="body">
		<header>
			<!-- <h3>{{ webpage_title }}</h3> -->
		</header>
		
		<script type="text/javascript">
			function get_action(form) {
				form.action = '/search/'+document.getElementById("search_input").value;
			}
		</script>

<!-- INICIO NAV BAR-->	
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
				<a class="navbar-brand" href="./">TFG_NAV</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item">
					  <a class="nav-link" href="/statistics">General Statistics<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/rankings">Rankings</a>
					</li>
					<li class="nav-item active">
							<a class="nav-link" href="/politics_tweets">Politics tweets analysis</a>
					</li>




					<li class="nav-item dropdown" >
					  <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Collection
					  </a>
					  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" id="collection_dropdown_menu">
							{% for c in collections %}
							<a class="dropdown-item" style="color:ghostwhite;" href=".">{{ c }}</a>
							{% endfor %}

						<!-- <a class="dropdown-item" href="#">Another action</a> -->
						<!-- <div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a> -->
					  </div>
					</li>
					<li class="nav-item">
					  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">collection = {{ collection }}</a>
					</li>
				  </ul>
				  <form id="search_form" onsubmit="get_action(this);" class="form-inline my-2 my-lg-0" onSubmit="">
						<input id="search_input" class="form-control mr-sm-2 busqueda" type="search" placeholder="Search" aria-label="Search">
						<button id="search_button" class="btn btn-outline-success my-2 my-sm-0 busqueda" type="submit" value="Go" >Search</button>
					  </form>
					</div>
					</nav>
<!-- FIN NAV BAR-->					
					

		<br><br> <br/><br/>

		
		<h3>Usuarios miembros de partidos:</h3>

		
			
		<div id="miembros_PP" class="d-flex w-100 mb-3 px-3 justify-content-between flex-column PP_members"></div>
		<div id="miembros_PSOE" class="d-flex w-100 mb-3 px-3 justify-content-between flex-column PSOE_members"></div>
		<div id="miembros_CIUDADANOS" class="d-flex w-100 mb-3 px-3  justify-content-between flex-column CIUDADANOS_members"></div>
		<div id="miembros_PODEMOS" class="d-flex w-100 mb-3 px-3 justify-content-between flex-column PODEMOS_members"></div>
		<div id="miembros_COMPROMIS" class="d-flex w-100 mb-3 px-3 justify-content-between  flex-column COMPROMIS_members"></div>
		<div id="miembros_VOX" class="d-flex w-100 mb-3 px-3 justify-content-between  flex-column VOX_members"></div>

<!-- SECCION USUARIOS DE PARTIDOS ------------------------------------------------------------------------------------>
		<script>
			var json_searched_users_file = {{ searched_users_file|tojson }};
			var politicos_pp = get_users_of_a_political_party(json_searched_users_file,"PP");
			var politicos_psoe = get_users_of_a_political_party(json_searched_users_file,"PSOE");
			var politicos_podemos = get_users_of_a_political_party(json_searched_users_file,"PODEMOS");
			var politicos_ciudadanos = get_users_of_a_political_party(json_searched_users_file,"CIUDADANOS");
			var politicos_vox = get_users_of_a_political_party(json_searched_users_file,"VOX");
			var politicos_compromis = get_users_of_a_political_party(json_searched_users_file,"COMPROMIS");
			if (politicos_pp.length>0){
				put_politics_section(politicos_pp,"PP","miembros_PP",json_searched_users_file);
			}
			if (politicos_psoe.length>0){
				put_politics_section(politicos_psoe,"PSOE","miembros_PSOE",json_searched_users_file);
			}
			if (politicos_ciudadanos.length>0){
				put_politics_section(politicos_ciudadanos,"CIUDADANOS","miembros_CIUDADANOS",json_searched_users_file);
			}
			if (politicos_podemos.length>0){
				put_politics_section(politicos_podemos,"PODEMOS","miembros_PODEMOS",json_searched_users_file);
			}
			if(politicos_compromis.length>0){
				put_politics_section(politicos_compromis,"COMPROMIS","miembros_COMPROMIS",json_searched_users_file);
			}
			if(politicos_vox.length>0){
				put_politics_section(politicos_vox,"VOX","miembros_VOX",json_searched_users_file);
			}
		</script>

<!-- SECCION USUARIOS DE PARTIDOS ------------------------------------------------------------------------------------>

		<div id="primera_fila" class="d-flex w-100 mb-3 justify-content-between flex-row">
					<div class="mb-1 graph" id="tweets_distribution"></div>
					<div class="mb-1 graph" id="likes_distribution"></div>
		</div>

		<script>
				var dict_tweets = get_num_tweets_by_party({{ searched_users_file|tojson }});
				var series_data = [
					[ "PP", dict_tweets.PP],
					[ "PSOE",dict_tweets.PSOE],
					[ "CIUDADANOS",dict_tweets.CIUDADANOS],
					[ "PODEMOS",dict_tweets.PODEMOS],
					[ "COMPROMIS",dict_tweets.COMPROMIS],
					[ "VOX",dict_tweets.VOX]
				];
				var colors = ['#2ECCFA', '#FF0000','#FF8000','#672F6C', '#E65F00' ,'#40FF00']
				var total_tweets = dict_tweets.PP + dict_tweets.PSOE + dict_tweets.CIUDADANOS + dict_tweets.PODEMOS + dict_tweets.COMPROMIS + dict_tweets.VOX;
				var title = "Distribución <br> tweets <br> capturados <br>("+total_tweets+")"
				put_semi_circle_graph("tweets_distribution",title,series_data,"Mensajes",colors);
			</script>

			<script>
					var likes_por_partido = {{ captured_likes_por_partido|tojson }}
					//alert(JSON.stringify(likes_por_partido));
					if (likes_por_partido != null){
					var series_data = [];
					var series_data = [
							[ "PP", likes_por_partido.PP],
							[ "PSOE",likes_por_partido.PSOE],
							[ "CIUDADANOS",likes_por_partido.CIUDADANOS],
							[ "PODEMOS",likes_por_partido.PODEMOS],
							[ "COMPROMIS",likes_por_partido.COMPROMIS],
							[ "VOX",likes_por_partido.VOX]
						];
					var total_likes = likes_por_partido.PP + likes_por_partido.PSOE + likes_por_partido.CIUDADANOS +
					likes_por_partido.PODEMOS + likes_por_partido.COMPROMIS + likes_por_partido.VOX;
					var colors = ['#2ECCFA', '#FF0000','#FF8000','#672F6C', '#E65F00' ,'#40FF00']
					//var title = "Distribución <br> likes <br> capturados <br>("+total_likes+")"
					var title = "Distribución <br> likes <br> capturados <br>(550207)"
					put_semi_circle_graph("likes_distribution",title,series_data,"Likes",colors);
					}
					</script>

<!-- SECCION TWEET POR PARTIDO / LIKES/TWEET  ------------------------------------------------------------------------------------>

<div id="barras1" class="d-flex w-100 mb-3 justify-content-between flex-row">
		<div class="mb-1 graph" id="tweets_dividido_politico"></div>
		<div class="mb-1 graph" id="likes_dividido_tweets"></div>
</div>

	<script>

		var likes_por_partido = {{ likes_por_partido|tojson }};
		var politicos_por_partido = {{ politicos_por_partido|tojson }};
		var tweets_por_partido = get_num_tweets_by_party({{ searched_users_file|tojson }});
		var colores_por_partido = { "PP" : '#2ECCFA', "PSOE":'#FF0000',"CIUDADANOS":'#FF8000',"PODEMOS":'#672F6C', "COMPROMIS":'#E65F00' ,"VOX":'#40FF00' }
		var current_partido = null;

		var colors = [];
		var categories1 = [];
		var categories2 = [];
		var data1 = [];
		var data2 = [];
		var aux = null;
		for(var key in politicos_por_partido){
			if(politicos_por_partido[key]>0){
				categories1.push("Tweets/politico de "+key)
				categories2.push("Likes/tweet de "+key)
				aux = tweets_por_partido[key] / politicos_por_partido[key]
				data1.push({y:aux,color:colores_por_partido[key]})
				aux = likes_por_partido[key] / tweets_por_partido[key]
				data2.push({y:aux,color:colores_por_partido[key]})
			}
		}
		put_bar_char("tweets_dividido_politico","Tweets / politico",categories1,[{data: data1}],colors);
		put_bar_char("likes_dividido_tweets","Likes / tweets",categories2,[{data: data2}],colors);
		
	</script>
	
<!-- SECCION SIMULADOR VOTOS-->
<br><br>
<h5>SIMULADOR DE VOTOS</h5>
<div class="graph" align="center">
	<div class="mb-1 graph" id="pie_char_by_num_likes">

	</div>
	<label id="customRange1">Considerar votante con 1 o más likes dados a un partido</label>
	<input id="ex1" type="range" class="custom-range" oninput="showVal(this.value)" onchange="showVal1(this.value)" value=1 min="1" max="100" step="1">

	<br>
	<br>
	<label >Considerar usuarios por tipo de cuenta:</label>
	<div class="d-flex w-100 mb-3 justify-content-center flex-row">
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="notVerifiedCheckbox" checked onclick="calc();">
			<label class="custom-control-label" for="notVerifiedCheckbox">Cuentas no verificadas</label>
		</div>

		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="verifiedCheckbox" checked onclick="calc();">
			<label class="custom-control-label" for="verifiedCheckbox">Cuentas verificadas</label>
		</div>
	</div>
	<br>
	 <label >Considerar usuarios por tweets publicados:</label>
	<div class="d-flex w-100 mb-3 justify-content-center flex-row">
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="tweets1" checked onclick="calc();">
			<label class="custom-control-label" for="tweets1">Menos de 50 tweets</label>
		</div>

		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="tweets2" checked onclick="calc();">
			<label class="custom-control-label" for="tweets2">Entre 50 y 99 tweets</label>
		</div>
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="tweets3" checked onclick="calc();">
			<label class="custom-control-label" for="tweets3">Entre 100 y 249 tweets</label>
		</div>
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="tweets4" checked onclick="calc();">
			<label class="custom-control-label" for="tweets4">Entre 250 y 499 tweets</label>
		</div>
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="tweets5" checked onclick="calc();">
			<label class="custom-control-label" for="tweets5">Entre 500 y 999 tweets</label>
		</div>
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="tweets6" checked onclick="calc();">
			<label class="custom-control-label" for="tweets6">1000 tweets o más</label>
		</div>
	</div>
	<label >Considerar usuarios por antiguedad:</label>
	<div class="d-flex w-100 mb-3 justify-content-center flex-row">
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="antiquity1" checked onclick="calc();">
			<label class="custom-control-label" for="antiquity1">Menos de tres meses</label>
		</div>

		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="antiquity2" checked onclick="calc();">
			<label class="custom-control-label" for="antiquity2">Entre 3 y 6 meses</label>
		</div>
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="antiquity3" checked onclick="calc();">
			<label class="custom-control-label" for="antiquity3">Entre 6 y 12 meses</label>
		</div>
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="antiquity4" checked onclick="calc();">
			<label class="custom-control-label" for="antiquity4">Entre 1 y 2 años</label>
		</div>
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="antiquity5" checked onclick="calc();">
			<label class="custom-control-label" for="antiquity5">Entre 2 y 3 años</label>
		</div>
		<div class="custom-control custom-checkbox px-4">
			<input type="checkbox" class="custom-control-input" id="antiquity6" checked onclick="calc();">
			<label class="custom-control-label" for="antiquity6">Más de 3 años</label>
		</div>
	</div>


</div>

<script>
		function showVal1(newVal){
			document.getElementById("customRange1").innerHTML="Considerar votantes con " + newVal + " o más likes";
			calc();
	}
</script>
<script>
	function calc(){
		var account_types = []
		if(document.getElementById('notVerifiedCheckbox').checked){
			account_types.push("not verified")
		}
		if(document.getElementById('verifiedCheckbox').checked){
			account_types.push("verified")
		}

		var tweets_nums = []
		if(document.getElementById('tweets1').checked){
			tweets_nums.push("Menos de 50 tweets")
		}
		if(document.getElementById('tweets2').checked){
			tweets_nums.push("Entre 50 y 99 tweets")
		}
		if(document.getElementById('tweets3').checked){
			tweets_nums.push("Entre 100 y 249 tweets")
		}
		if(document.getElementById('tweets4').checked){
			tweets_nums.push("Entre 250 y 499 tweets")
		}
		if(document.getElementById('tweets5').checked){
			tweets_nums.push("Entre 500 y 999 tweets")
		}
		if(document.getElementById('tweets6').checked){
			tweets_nums.push("1000 tweets o más")
		}

		var users_antiquity = [];
		if(document.getElementById('antiquity1').checked){
			users_antiquity.push("Menos de tres meses")
		}
		if(document.getElementById('antiquity2').checked){
			users_antiquity.push("Entre 3 y 6 meses")
		}
		if(document.getElementById('antiquity3').checked){
			users_antiquity.push("Entre 6 y 12 meses")
		}
		if(document.getElementById('antiquity4').checked){
			users_antiquity.push("Entre 1 y 2 años")
		}
		if(document.getElementById('antiquity5').checked){
			users_antiquity.push("Entre 2 y 3 años")
		}
		if(document.getElementById('antiquity6').checked){
			users_antiquity.push("Más de 3 años")
		}


		var series_data = [];
		var min_likes = document.getElementById('ex1').value;
		var parties = ["PP", "PSOE", "CIUDADANOS","PODEMOS", "COMPROMIS", "VOX"]
		var votantes_por_partido = {{ votantes_por_partido|tojson }};
	var party, joined, verified, tweets, lista_likes, party_counter;
	for (var index in parties) {
		party = parties[index]
		party_counter = 0;
		for (var joined_index in users_antiquity) {
			joined = users_antiquity[joined_index]
			for (var verified_index in account_types) {
				verified = account_types[verified_index]
				for (var index_tweets in tweets_nums) {
					console.log(tweets_nums)
					tweets = tweets_nums[index_tweets]
					console.log(tweets)
					try {


						lista_likes = votantes_por_partido[party][joined][verified][tweets]
						for (var like_index in lista_likes) {
							if (lista_likes[like_index] >= min_likes) {
								party_counter++;
							}
						}
					} catch (error) {
						
						//console.error(error)
					}
				}
			}
		}
		series_data.push([party, party_counter])
	}
	var total_votos_computados = 0;
	for(var index in series_data){
		total_votos_computados+= series_data[index][1]
	}
	var colors = ['#2ECCFA', '#FF0000','#FF8000','#672F6C', '#E65F00' ,'#40FF00']
	var title = "Distribución <br> votos por <br> partido <br>(Votos :"+total_votos_computados+")"
	put_semi_circle_graph("pie_char_by_num_likes",title,series_data,"Usurios",colors);

	}
</script>

<!-- SECCION GRAFICOS USUARIOS POR PARTIDO-->
<br><br>
<h5>USUARIOS QUE DIERON LIKE A TWEETS DE PP</h5>
<div id="usuarios_PP" class="d-flex w-100 mb-3 justify-content-between flex-row" >
	<div class="mb-1 graph" id="usuarios_PP_antiguedad"></div>
	<div class="mb-1 graph" id="usuarios_PP_tweets"></div>
	<div class="mb-1 graph" id="usuarios_PP_verified"></div>
</div>
<br><br>
<h5>USUARIOS QUE DIERON LIKE A TWEETS DE PSOE</h5>
<div id="usuarios_PSOE" class="d-flex w-100 mb-3 justify-content-between flex-row" >
	<div class="mb-1 graph" id="usuarios_PSOE_antiguedad"></div>
	<div class="mb-1 graph" id="usuarios_PSOE_tweets"></div>
	<div class="mb-1 graph" id="usuarios_PSOE_verified"></div>
</div>
<br><br>
<h5>USUARIOS QUE DIERON LIKE A TWEETS DE PODEMOS</h5>
<div id="usuarios_PODEMOS" class="d-flex w-100 mb-3 justify-content-between flex-row" >
	<div class="mb-1 graph" id="usuarios_PODEMOS_antiguedad"></div>
	<div class="mb-1 graph" id="usuarios_PODEMOS_tweets"></div>
	<div class="mb-1 graph" id="usuarios_PODEMOS_verified"></div>
</div>
<br><br>
<h5>USUARIOS QUE DIERON LIKE A TWEETS DE CIUDADANOS</h5>
<div id="usuarios_CIUDADANOS" class="d-flex w-100 mb-3 justify-content-between flex-row" >
	<div class="mb-1 graph" id="usuarios_CIUDADANOS_antiguedad"></div>
	<div class="mb-1 graph" id="usuarios_CIUDADANOS_tweets"></div>
	<div class="mb-1 graph" id="usuarios_CIUDADANOS_verified"></div>
</div>
<br><br>
<h5>USUARIOS QUE DIERON LIKE A TWEETS DE COMPROMIS</h5>
<div id="usuarios_COMPROMIS" class="d-flex w-100 mb-3 justify-content-between flex-row" >
	<div class="mb-1 graph" id="usuarios_COMPROMIS_antiguedad"></div>
	<div class="mb-1 graph" id="usuarios_COMPROMIS_tweets"></div>
	<div class="mb-1 graph" id="usuarios_COMPROMIS_verified"></div>
</div>
<br><br>
<h5>USUARIOS QUE DIERON LIKE A TWEETS DE VOX</h5>
<div id="usuarios_VOX" class="d-flex w-100 mb-3 justify-content-between flex-row" >
	<div class="mb-1 graph" id="usuarios_VOX_antiguedad"></div>
	<div class="mb-1 graph" id="usuarios_VOX_tweets"></div>
	<div class="mb-1 graph" id="usuarios_VOX_verified"></div>
</div>


	<script>
		var registry_dict_by_verified = {{ registry_dict_by_verified|tojson }}; 
		var registry_dict_by_num_tweets = {{ registry_dict_by_num_tweets|tojson }}
		var registry_dict_by_antiquity = {{ registry_dict_by_antiquity|tojson }};	
		var parties = ["PP","PSOE","CIUDADANOS","PODEMOS","COMPROMIS","VOX"]
		var colors = ['#2ECCFA', '#FF0000','#FF8000','#672F6C', '#E65F00' ,'#40FF00']
		var series_data;
		var current_party;
		for( var index in parties){
			current_party = parties[index];
			series_data = [];
			for(var key in registry_dict_by_verified[current_party]){
				series_data.push([key,registry_dict_by_verified[current_party][key]])
			}
			put_semi_circle_graph("usuarios_"+current_party+"_verified","Usuarios que<br>dieron like a<br>"+current_party+ "<br>segun tipo de cuenta",series_data,"Usuarios","");
			series_data = [];
			for(var key in registry_dict_by_num_tweets[current_party]){
				series_data.push([key,registry_dict_by_num_tweets[current_party][key]])
			}
			put_semi_circle_graph("usuarios_"+current_party+"_tweets","Usuarios que<br>dieron like a<br>"+current_party+ "<br>por número de<br>tweets creados",series_data,"Usuarios","");
			series_data = [];
			for(var key in registry_dict_by_antiquity[current_party]){
				series_data.push([key,registry_dict_by_antiquity[current_party][key]])
			}
			put_semi_circle_graph("usuarios_"+current_party+"_antiguedad","Usuarios que<br>dieron like a<br>"+current_party+ "<br>por antiguedad",series_data,"Usuarios","");
		}
		

					
	</script>


<!-- SECCION TABLA LIKES POR USUARIO  ------------------------------------------------------------------------------------>
			<br><br>
			<br><br><br>
			<h5>LIKES CAPTURADOS POR USUARIO</h5>
			<div id="likes_capturados">
				<table class="table table-striped table-dark aux_header" id="tabla_likes_capturados_header_container">
				</table>
				<table class="table table-striped list table-dark" id="tabla_likes_capturados">
				</table>
				<ul class="pagination"></ul>
			</div>
			<script>make_table_with_multiple_special_doc('likes_capturados','tabla_likes_capturados_header_container','tabla_likes_capturados',
			['user_screen_name','likes_to_PP','likes_to_PSOE','likes_to_PODEMOS','likes_to_CIUDADANOS','likes_to_COMPROMIS','likes_to_VOX','last_like_registered'],
			{{ likes_count_files|tojson }})
			</script>

<!-- SECCION LIKES CAPTURADOS POR TWEET  ------------------------------------------------------------------------------------>
<br><br>
<h5>LIKES CAPTURADOS POR TWEET</h5>
<div id="likes_capturados_por_tweet">
	<table class="table table-striped table-dark aux_header" id="likes_capturados_por_tweet_header_container">
	</table>
	<table class="table table-striped list table-dark" id="tabla_likes_capturados_por_tweet">
	</table>
	<!--<ul class="pagination"></ul>-->
</div>
	<script>
	var json_likes_list_file = {{ linked_likes_info|tojson }};
	var capturados;
	var pasadas;
	for( var key in json_likes_list_file){
		capturados = json_likes_list_file[key]["num_likes_capturados"]
		pasadas = json_likes_list_file[key]["veces_recorrido"]
		json_likes_list_file[key]["likes_capturados"] = capturados +" (" +pasadas +" veces)"
	}
	make_table_with_percentage_bar('likes_capturados_por_tweet','likes_capturados_por_tweet_header_container','tabla_likes_capturados_por_tweet',
	['tweet_id','user_screen_name','likes_capturados','num_likes','last_like_resgistered'],
	"num_likes_capturados",
	"num_likes",
	json_likes_list_file)
	</script>


	<script>
	$('li.percentage_bar').each(function(){
		var text = $(this).text();
		var text_perc = Math.trunc( text ).toString()+'%'
		//alert(text_perc)
		if(text >=0 && text< 40){
			$(this).css('background-color','red');
			// $(this).style.width = text_perc;
		}else if (text >= 40 && text< 55){
			$(this).css('background-color','orange');
		}else if (text >= 55 && text< 70){
			$(this).css('background-color','yellow');
		}else{
			$(this).css('background-color','green');
		}
		$(this).width(text_perc);
		if(text <=1){
			$(this).width("1%");
		}

	});
	</script>

<br><br>
<script>calc();put_footer()</script>
<script src="{{ url_for('static', filename='js/common/get_dropdown_selection.js') }}"></script>
<script src="{{ url_for('static', filename='js/politics/do_member_clickable.js') }}"></script>


</body>
</html>