<html>
	<!--<link rel="stylesheet" media="screen" href= "/static/bootstrap.min.css"> -->
	<link rel="stylesheet" media="screen" href= "{{ url_for('static', filename='bootstrap.min.css') }}">
	<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">	
	<head>
			<style>
					.top_element_click:hover + script + .hidden_tweet{	   
					  opacity: 1;
						height: auto;
  					max-height:1000px; 
						padding: 8px; 
					}

					.top_element_click + script + .hidden_tweet:hover{	   
					  opacity: 1;
						height: auto;
						max-height:1000px; 
						padding: 8px; 
					}

					 .top_element_click+ script + .hidden_tweet{
						opacity:0;
						clear: both;
						max-height:0;
						padding: 0 8px;
						overflow: hidden;

						-webkit-transition: all .3s ease .5s;
						-moz-transition: all .3s ease .5s;
						-o-transition: all .3s ease .5s;
						-ms-transition: all .3s ease .5s;
						transition: all 3s ease .5s;

						border: 1px solid #ddd;

						-webkit-box-shadow: 0px 2px 2px #ddd;
						-moz-box-shadow: 0px 2px 2px #ddd;
						box-shadow: 0px 2px 2px #ddd;
						background: #FFF;
						transition-delay: 1s;
					}

				
				.faq {
					counter-reset: my-badass-counter;
				}
				.faq dt:before {
					content: counter(my-badass-counter);
					counter-increment: my-badass-counter;
				}


					</style>
	</head>
	<body class="body">
		<header>
			<!-- <h3>{{ webpage_title }}</h3> -->
		</header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="./">TFG_NAV</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item">
					  <a class="nav-link" href="/statistics">General Statistics</a>
					</li>
					<li class="nav-item active">
					  <a class="nav-link" href="/rankings">Rankings<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="/politics_tweets">Politics tweets analysis</a>
					</li>

					<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Collection
					  </a>
					  <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="collection_dropdown_menu">
							{% for c in collections %}
							<a class="dropdown-item" href=".">{{ c }}</a>
							{% endfor %}

						<!-- <a class="dropdown-item" href="#">Another action</a> -->
						<!-- <div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a> -->
					  </div>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">collection = {{ collection }}</a>
					  </li>
				  </ul>
				  <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				  </form>
				</div>
			  </nav>

				<br/><br/>
				{% if statistics_dict == false %}
				<p>There is no statistics file for this collection {{ current_collection }}</p>
				{% else %}
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				<script src="{{ url_for('static', filename='js/put_embed_tweet.js') }}"></script>
				<script src="{{ url_for('static', filename='js/put_last_update.js') }}"></script>
				<script src="{{ url_for('static', filename='js/add_retweet_and_quote_info.js') }}"></script>
				<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
				<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
				
				
				<div class="custom-control custom-switch d-flex justify-content-center" id="switch_media_div">
					<input type="checkbox" class="custom-control-input" id="switch_media" checked>
					<label class="custom-control-label" id="switch_media_label" for="switch_media">Mostrar media en tweets con media</label>
				  </div>

				<script async>
						$.getJSON({
							url: "/getmethod/with_media_state",
							data: { },
							success: function(data){
								var with_media_state =data.with_media_state;
								document.getElementById("switch_media").checked = with_media_state;
							}
							});
				</script>

				
				<h3>Top 10 de mensajes con más likes</h3>
				<div id="most_liked_messages" class="list-group">
					<dl class="faq">
					{% for e in statistics_dict["global_most_favs_tweets"] %}
						{% if e[0] != 0 %}
						
						<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start top_element_click">
								
							<div class="d-flex w-100 mb-3 justify-content-between flex-row-reverse">

									<script>put_last_update('{{ e[0] }}',{{ statistics_dict["tweets_owner_dict"]|tojson }})</script>
									<dt></dt>
	
							</div>

							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">user: {{ user_screen_name_dict[e[0]] }}</h5>
								<p class="mb-1">tweet_id: {{ e[0] }}</p>
							</div>
							
							<script>add_retweet_and_quote_info('{{ e[0] }}',{{ statistics_dict["tweets_owner_dict"]|tojson }})</script>

							<small>{{ e[1] }} likes</small>

							
						</a>
						<script>put_embed_tweet('{{ e[0] }}',{{ statistics_dict.tweets_embed_html_dict|tojson }},{{ with_media|tojson }});</script>
					
						{% endif %}
					{% endfor %}
				</dl>
					</div>

					
<!--SEGUNDO TOP ------------------------------------------------------------------------------------------ -->
				<br/><br/>
				<h3>Top 10 de mensajes con más retweets:</h3>
				<div id="most_retwetted_messages" class="list-group">
					<dl class="faq">
				{% for e in statistics_dict["global_most_rt_tweets"] %}
				{% if e[0] != 0 %}
					<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start top_element_click">
						
							<div class="d-flex w-100 mb-3 justify-content-between flex-row-reverse">
								<script>put_last_update('{{ e[0] }}',{{ statistics_dict["tweets_owner_dict"]|tojson }})</script>
								<dt></dt>
							</div>

						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">user: {{ user_screen_name_dict[e[0]] }}</h5>
							<p class="mb-1">tweet_id: {{ e[0] }}</p>
						</div>

						<script>add_retweet_and_quote_info('{{ e[0] }}',{{ statistics_dict["tweets_owner_dict"]|tojson }})</script>
						<small>{{ e[1] }} retweets</small>

					</a>
					<script>put_embed_tweet('{{ e[0] }}',{{ statistics_dict.tweets_embed_html_dict|tojson }},{{ with_media|tojson }});</script>
					{% endif %}
				{% endfor %}
				</dl>
				</div>

<!--TERCER TOP ------------------------------------------------------------------------------------------ -->
					<br/><br/>
					<p>Top 10 de usuarios que más likes han dado: {{ statistics_dict["global_most_favs_users"] }}</p>
				<div id="most_fav_users" class="list-group">
					<dl class="faq">
				{% for e in statistics_dict["global_most_favs_users"] %}
				{% if e[0] != 0 %}
					<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start top_element_click">

						<div class="d-flex w-100 mb-3 justify-content-between flex-row">
								<dt></dt>
							</div>
							<div class="d-flex w-100 mb-3 justify-content-between flex-row">
								<img src="https://avatars.io/twitter/{{ users_dict[e[0]]["screen-names"][0] }}" class="rounded-circle" alt="twt_profile" border="0" width="200" height="200"/>
							</div>

						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">user: {{ users_dict[e[0]]["screen-names"][0] }}</h5>
						</div>
						<small>{{ e[1] }} likes</small>
					</a>
					{% endif %}
				{% endfor %}
				</dl>
				</div>
<!--CUARTO TOP ------------------------------------------------------------------------------------------ -->					
				<br/><br/>
				<p>Top 10 de usuarios con más mensajes publicados: {{ statistics_dict["global_most_tweets_users"] }}</p>
				<div id="most_tweets_users" class="list-group">
					<dl class="faq">
				{% for e in statistics_dict["global_most_tweets_users"] %}
				{% if e[0] != 0 %}
					<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start top_element_click">

						<div class="d-flex w-100 mb-3 justify-content-between flex-row">
								<dt></dt>
							</div>
							<div class="d-flex w-100 mb-3 justify-content-between flex-row">
								<img src="https://avatars.io/twitter/{{ users_dict[e[0]]["screen-names"][0] }}" class="rounded-circle" alt="twt_profile" border="0" width="200" height="200"/>
							</div>

						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">user: {{ users_dict[e[0]]["screen-names"][0] }}</h5>
						</div>
						<small>{{ e[1] }} mensajes publicados</small>
					</a>
					{% endif %}
				{% endfor %}
				</dl>
				</div>

<!--QUINTO TOP ------------------------------------------------------------------------------------------ -->	
				<br/><br/>
				<p>Top 10 de usuarios con más followers: {{ statistics_dict["global_most_followers_users"] }}</p>
				<div id="most_tweets_users" class="list-group">
					<dl class="faq">
				{% for e in statistics_dict["global_most_followers_users"] %}
				{% if e[0] != 0 %}
					<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start top_element_click">

						<div class="d-flex w-100 mb-3 justify-content-between flex-row">
								<dt></dt>
							</div>
							<div class="d-flex w-100 mb-3 justify-content-between flex-row">
								<img src='https://avatars.io/twitter/{{ users_dict[e[0]]["screen-names"][0] }}' class="rounded-circle" alt="twt_profile" border="0" width="200" height="200"/>
							</div>

						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">user: {{ users_dict[e[0]]["screen-names"][0] }}</h5>
						</div>
						<small>{{ e[1] }} followers</small>
					</a>
					{% endif %}
				{% endfor %}
				</dl>
				</div>

<!--SEXTO TOP ------------------------------------------------------------------------------------------ -->	
<br/><br/>
			<p>Top 10 usuarios de los cuales hemos recopilado más mensajes: {{ statistics_dict["local_most_messages_users"] }}</p>
				<div id="most_tweets_users" class="list-group">
					<dl class="faq">
				{% for e in statistics_dict["local_most_messages_users"] %}
				{% if e[0] != 0 %}
					<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start top_element_click">

						<div class="d-flex w-100 mb-3 justify-content-between flex-row">
								<dt></dt>
							</div>
							<div class="d-flex w-100 mb-3 justify-content-between flex-row">
								<img src='https://avatars.io/twitter/{{ users_dict[e[0]]["screen-names"][0] }}' class="rounded-circle" alt="twt_profile" border="0" width="200" height="200"/>
							</div>

						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">user: {{ users_dict[e[0]]["screen-names"][0] }}</h5>
						</div>
						<small>{{ e[1] }} mensajes de este usuario han sido recopilados</small>
					</a>
					{% endif %}
				{% endfor %}
				</dl>
				</div>



				<p>Top 10 usuarios de los cuales hemos recopilado más tweets: {{ statistics_dict["local_most_tweets_users"] }}</p>
				<p>Top 10 usuarios de los cuales hemos recopilado más retweets: {{ statistics_dict["local_most_retweets_users"] }}</p>
				<p>Top 10 usuarios para los cuales hemos recopilado más respuestas: {{ statistics_dict["local_most_replied_users"] }}</p>
				<p>Top 10 mensajes para los cuales hemos recopilado más mensajes: {{ statistics_dict["local_most_replied_tweets"] }}</p>
				<p>Top 10 usuarios para los cuales hemos recopilado más citas: {{ statistics_dict["local_most_quoted_users"] }}</p>
				<p>Top 10 mensajes para los cuales hemos recopilado más citas: {{ statistics_dict["local_most_quoted_tweets"] }}</p>

					
				
				
				<p>{{ statistics_dict }}</p>
			</dl>
				{% endif %}


		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/series-label.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<div id="{{ chartID|safe }}" class="chart" style="height: 500px"></div>
		<script>
			var chart_id = "{{ chartID|safe }}"
			// var series = {{ series|safe }}
			// var title = {{ title|safe }}
			// var xAxis = {{ xAxis|safe }}
			// var yAxis = {{ yAxis|safe }}
			// var chart = {{ chart|safe }}
		</script>

	<script src="{{ url_for('static', filename='js/graph.js') }}"></script>




	</body>
	
	<script type = "text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/get_dropdown_selection.js') }}"></script>
	<script src="{{ url_for('static', filename='js/top_element_click.js') }}"></script>
	<script src="{{ url_for('static', filename='js/toogle_on_click.js') }}"></script>



	</html>