<html>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" media="screen" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JS -->
	<script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Specific toogle -->
	<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
	<!-- Libraries to do graphics -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>

	<!-- SCRIPTS CREADOS -->
	<script src="{{ url_for('static', filename='js/common/get_dropdown_selection.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common/put_footer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/rankings/put_embed_tweet.js') }}"></script>
	<script src="{{ url_for('static', filename='js/rankings/put_last_update.js') }}"></script>
	<script src="{{ url_for('static', filename='js/rankings/add_retweet_and_quote_info.js') }}"></script>
	<script src="{{ url_for('static', filename='js/rankings/put_top_users_section.js') }}"></script>
	<script src="{{ url_for('static', filename='js/rankings/toogle_on_click.js') }}"></script>
	<!-- CSS CREADOS -->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/make_tables.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/footer.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/dropdown.css') }}" />


	
	<head>
			<style>
					.top_element_click:hover + script + .hidden_tweet{	   
					  opacity: 1;
						height: auto;
  					max-height:1000px; 
						padding: 8px; 
					}

					.top_element_click + script + .hidden_tweet:hover{	   
					  opacity: 1;
						height: auto;
						max-height:1000px; 
						padding: 8px; 
					}

					 .top_element_click+ script + .hidden_tweet{
						opacity:0;
						clear: both;
						max-height:0;
						padding: 0 8px;
						overflow: hidden;

						-webkit-transition: all .3s ease .5s;
						-moz-transition: all .3s ease .5s;
						-o-transition: all .3s ease .5s;
						-ms-transition: all .3s ease .5s;
						transition: all 3s ease .5s;

						border: 1px solid #ddd;

						-webkit-box-shadow: 0px 2px 2px #ddd;
						-moz-box-shadow: 0px 2px 2px #ddd;
						box-shadow: 0px 2px 2px #ddd;
						background: #FFF;
						transition-delay: 1s;
					}

				
				.faq {
					counter-reset: my-badass-counter;
				}
				.faq dt:before {
					content: counter(my-badass-counter);
					counter-increment: my-badass-counter;
				}

			.TOP_members{
				background-color: #34373d;
				border-radius: 25px;
				color: transparent;
			}
			.member{
				background-color: #E6E6E6;
				border-radius: 25px;
				color:black !important;
			}
			.member_1{
				background-color: gold !important;
				border-radius: 25px;
				color:black !important;
			}
			.member_2{
				background-color: silver !important;
				border-radius: 25px;
				color:black !important;
			}
			.member_3{
				background-color: #cd7f32 !important;
				border-radius: 25px;
				color:black !important;
			}			
			.member:hover {
  				box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); 
			}
			.medal{
				height: 40px;
				width: auto;
			}


					</style>
	</head>
	<body class="body">
		<header>
		</header>
		<script type="text/javascript">
			function get_action(form) {
				form.action = '/search/'+document.getElementById("search_input").value;
			}
		</script>
<!-- INICIO NAV BAR-->	
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
				<a class="navbar-brand" href="./">TFG_NAV</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item">
					  <a class="nav-link" href="/statistics">General Statistics</a>
					</li>
					<li class="nav-item active">
					  <a class="nav-link" href="/rankings">Rankings<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="/politics_tweets">Politics tweets analysis</a>
					</li>

					<li class="nav-item dropdown" >
							<a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Collection
							</a>
							<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" id="collection_dropdown_menu">
								  {% for c in collections %}
								  <a class="dropdown-item" style="color:ghostwhite;" href=".">{{ c }}</a>
								  {% endfor %}
					  </div>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">collection = {{ collection }}</a>
					  </li>
				  </ul>
				  <form id="search_form" onsubmit="get_action(this);" class="form-inline my-2 my-lg-0" onSubmit="">
						<input id="search_input" class="form-control mr-sm-2 busqueda" type="search" placeholder="Search" aria-label="Search">
						<button id="search_button" class="btn btn-outline-success my-2 my-sm-0 busqueda" type="submit" value="Go" >Search</button>
					  </form>
					</div>
					<br>
					</nav>
<!-- FIN NAV BAR-->					
					

				<br/><br/><br/><br/>
				{% if statistics_dict == false %}
				<p>There is no statistics file for this collection {{ current_collection }}</p>
				{% else %}
				
				
				<div class="custom-control custom-switch d-flex justify-content-center" id="switch_media_div">
					<input type="checkbox" class="custom-control-input" id="switch_media" checked>
					<label class="custom-control-label" id="switch_media_label" for="switch_media">Mostrar media en tweets con media</label>
				  </div>

				<script async>
						$.getJSON({
							url: "/getmethod/with_media_state",
							data: { },
							success: function(data){
								var with_media_state =data.with_media_state;
								document.getElementById("switch_media").checked = with_media_state;
							}
							});
				</script>

<!--PRIMER TOP ------------------------------------------------------------------------------------------ -->

				<h3>Top 10 de mensajes con más likes</h3>
				<div id="most_liked_messages" class="list-group">
					<dl class="faq">
					{% for e in statistics_dict["global_most_favs_tweets"] %}
						{% if e[0] != 0 %}
						
						<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start top_element_click">
								
							<div class="d-flex w-100 mb-3 justify-content-between flex-row-reverse">

									<script>put_last_update('{{ e[0] }}',{{ statistics_dict["tweets_owner_dict"]|tojson }})</script>
									<dt></dt>
	
							</div>

							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">user: {{ user_screen_name_dict[e[0]] }}</h5>
								<p class="mb-1">tweet_id: {{ e[0] }}</p>
							</div>
							
							<script>add_retweet_and_quote_info('{{ e[0] }}',{{ statistics_dict["tweets_owner_dict"]|tojson }})</script>

							<small>{{ e[1] }} likes</small>

							
						</a>
						<script>put_embed_tweet('{{ e[0] }}',{{ statistics_dict.tweets_embed_html_dict|tojson }},{{ with_media|tojson }});</script>
					
						{% endif %}
					{% endfor %}
				</dl>
					</div>

					
<!--SEGUNDO TOP ------------------------------------------------------------------------------------------ -->
				<br/><br/>
				<h3>Top 10 de mensajes con más retweets:</h3>
				<div id="most_retwetted_messages" class="list-group">
					<dl class="faq">
				{% for e in statistics_dict["global_most_rt_tweets"] %}
				{% if e[0] != 0 %}
					<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start top_element_click">
						
							<div class="d-flex w-100 mb-3 justify-content-between flex-row-reverse">
								<script>put_last_update('{{ e[0] }}',{{ statistics_dict["tweets_owner_dict"]|tojson }})</script>
								<dt></dt>
							</div>

						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">user: {{ user_screen_name_dict[e[0]] }}</h5>
							<p class="mb-1">tweet_id: {{ e[0] }}</p>
						</div>

						<script>add_retweet_and_quote_info('{{ e[0] }}',{{ statistics_dict["tweets_owner_dict"]|tojson }})</script>
						<small>{{ e[1] }} retweets</small>

					</a>
					<script>put_embed_tweet('{{ e[0] }}',{{ statistics_dict.tweets_embed_html_dict|tojson }},{{ with_media|tojson }});</script>
					{% endif %}
				{% endfor %}
				</dl>
				</div>

<!--TERCER TOP ------------------------------------------------------------------------------------------ -->
					<br/><br/>
					<h3>Top 10 de usuarios que más likes han dado: </h3>
					<div id="most_fav_users" class="d-flex w-100 mb-3 px-3 justify-content-center flex-column TOP_members"></div>
<!--CUARTO TOP ------------------------------------------------------------------------------------------ -->	
					<br/><br/>
					<h3>Top 10 de usuarios con más mensajes publicados:</h3>
					<div id="most_messages_users" class="d-flex w-100 mb-3 px-3 justify-content-center flex-column TOP_members"></div>
<!--QUINTO TOP ------------------------------------------------------------------------------------------ -->	
					<br/><br/>
					<h3>Top 10 de usuarios con más followers:</h3>
					<div id="most_followers_users" class="d-flex w-100 mb-3 px-3 justify-content-center flex-column TOP_members"></div>
<!--SEXTO TOP ------------------------------------------------------------------------------------------ -->	
					<br/><br/>
					<h3>Top 10 usuarios de los cuales hemos recopilado más mensajes: </h3>
					<div id="most_messages_local_users" class="d-flex w-100 mb-3 px-3 justify-content-center flex-column TOP_members"></div>

					<script>
						var global_most_favs_users = {{ statistics_dict["global_most_favs_users"]|tojson }};
						var global_most_messages_users = {{ statistics_dict["global_most_tweets_users"]|tojson }}
						var global_most_followers_users = {{ statistics_dict["global_most_followers_users"]|tojson }};
						var local_most_messages_users  = {{ statistics_dict["local_most_messages_users"]|tojson }}
						var users_dict = {{ users_dict|tojson }};
						var image_1 = "{{ url_for('static', filename='img/1.svg') }}";
						var image_2 = "{{ url_for('static', filename='img/2.svg') }}";
						var image_3 = "{{ url_for('static', filename='img/3.svg') }}";
						put_top_users_section(global_most_favs_users," Likes","most_fav_users",users_dict,image_1,image_2,image_3)
						put_top_users_section(global_most_messages_users," Mensajes","most_messages_users",users_dict,image_1,image_2,image_3)
						put_top_users_section(global_most_followers_users," Followers","most_followers_users",users_dict,image_1,image_2,image_3)
						put_top_users_section(local_most_messages_users," Mensajes","most_messages_local_users",users_dict,image_1,image_2,image_3)
					</script>

				{% endif %}



	<br><br>
	<script>put_footer()</script>
	<script src="{{ url_for('static', filename='js/rankings/toogle_on_click.js') }}"></script>

	</body>

	</html>