<html>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" media="screen" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JS -->
	<script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Libraries to do graphics -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<!-- Library used to do list tables with sorting, filtering and pagination-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
	<!-- Library used to be able to access to nested atributes using string Eg: User.name -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"> </script>

	<!-- SCRIPTS CREADOS -->
	<script src="{{ url_for('static', filename='js/common/put_footer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common/put_pie_char.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common/put_semi_circle_graph.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common/make_table_with_special_doc.js') }}"></script>
	<script src="{{ url_for('static', filename='js/searched_user_registry/put_special_semi_circle_graph.js') }}"></script>
	<!-- CSS CREADOS -->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/make_tables.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/footer.css') }}" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/dropdown.css') }}" />

	<head>
		<style>
			@import 'https://code.highcharts.com/css/highcharts.css';

			.graph {
				height: auto;
				width: auto;
				max-width: 800px;
				max-height: 500px;
				margin: 0 auto;
			}
			.file_img {
				max-width: 50px;
				max-height: 50px;
			}
		
			.searched_user {
				background-color: #34373d;
				border-radius: 25px !important;
				color : white;
			}
			table{
				color : white;
				font-size: 20px;
			}
			table>tbody>tr {
				color:yellow;
			}
			.screen_name{
				font-size: 20px;
			}
			.small_small{
				font-size: 11px;
			}
			.icon_round{
				border-radius: 33px !important;
			}
			.icon_round:hover {
  				box-shadow: 0 0 20px rgba(0, 0, 0, 1) !important;
					border-radius: 33px !important;
					cursor: hand; 
				}
				#ex1Slider .slider-selection {
					background: #BABABA;
				}
		</style>

	</head>
	<body class="body">
		<header>
			<!-- <h3>{{ webpage_title }}</h3> -->
		</header>

				<script type="text/javascript">
					function get_action(form) {
						form.action = '/search/'+document.getElementById("search_input").value;
					}
				</script>

		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
				<a class="navbar-brand" href="/">TFG_NAV</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item">
					  <a class="nav-link" href="/statistics">General Statistics<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/rankings">Rankings</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="/politics_tweets">Politics tweets analysis</a>
					</li>



					<li class="nav-item dropdown" >
							<a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Collection
							</a>
							<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" id="collection_dropdown_menu">
								{% for c in collections %}
								<a class="dropdown-item" style="color:ghostwhite;" href=".">{{ c }}</a>
								{% endfor %}

					  </div>
					</li>
					<li class="nav-item">
					  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">collection = {{ collection }}</a>
					</li>
				  </ul>
				  <form id="search_form" onsubmit="get_action(this);" class="form-inline my-2 my-lg-0" onSubmit="">
					<input id="search_input" class="form-control mr-sm-2 busqueda" type="search" placeholder="Search" aria-label="Search">
					<button id="search_button" class="btn btn-outline-success my-2 my-sm-0 busqueda" type="submit" value="Go" >Search</button>
				  </form>
				</div>
				</nav>

				<br/><br/><br/><br/><br><br>
				<div class='d-flex w-100  p-3 ml-2 rounded mb-3 justify-content-between flex-row space-between searched_user'>
						<div class='d-flex flex-column' align="center">
								<img src='https://avatars.io/twitter/{{ screen_name }}' class='rounded-circle' align="center" alt='twt_profile' border='0' width='300' height='300'/>
								<div class='d-flex flex-row justify-content-center align-items-center flex-row space-between'>
										<a href="https:twitter.com/{{ screen_name }}" target='_blank'>
											<img id="twitter" class="icon_round m-3" src="/static/img/twitter.svg" height="60" width="60" />
										</a>
									<a href="{{ url }}" target='_blank'>
										<img id="wiki" class="icon_round" src="/static/img/wiki.png" height="60" width="60" />
										</a>
								</div>
						</div>
						<div class='d-flex p-3 flex-column'>
								<h1>{{ name }} 
									<small class="screen_name">{{ " " }} (@{{ screen_name }})</small>
									
									{% if searched_user_registry.verified %}
									<img src="/static/img/verified.svg" height="20" width="20" />
									
									<small class="small_small">verified user</small>
									{% endif %}
									
								</h1>
								<br>
								
								<p>{{ resumen }}</p>
								<br><br>
								<br><br>
								<table >
									<tr align="center">
										<td>tweets publicados</td>
										<td>seguidores</td>
										<td>siguiendo</td>
										<td>tweets capturados</td>
										<td>likes capturados</td>
									</tr>
									<tbody>
										<tr align="center">
											<td>{{ searched_user_registry.tweets }}</td>
											<td>{{ searched_user_registry.following }}</td>
											<td>{{ searched_user_registry.followers }}</td>
											<td>{{ searched_user_registry.captured_tweets }}</td>
											<td>{{ num_captured_likes }}</td> 
										</tr>  
									</tbody>
								</table>
						</div>
			</div>

			<br><br><br><br>


			<div id="primera_fila" class="d-flex w-100 mb-3 justify-content-between flex-row">
				<div>
				<div class="mb-1 graph" id="pie_char_verified"></div>
			</div>
				<div class="graph" align="center">
						<div class="mb-1 graph" id="pie_char_by_num_likes">
								
						</div>
						<label id="customRange1">Mostrar usuarios que dieron 1 o más likes</label>
						<input id="ex1" type="range" class="custom-range" id="customRange1" oninput="showVal(this.value)" onchange="showVal(this.value)" value=1 min="1" max="50" step="1">
						
				</div>			
				
				
			</div>



			<script>
				var dict = {{ registry_dict|tojson }};
				var total_usuarios = {{ num_verified }}+ {{ num_no_verified }}
				var title1 = "Distribución usuarios que dieron like ("+ total_usuarios +")";
				put_pie_char("pie_char_verified",title1,[["usuarios no verificados", {{ num_no_verified }}],[ "usuarios verificados",{{ num_verified }}]])
				var dict_by_num_likes = {{ registry_dict_by_num_likes }}
				var list_by_num_likes = []
				for(key in dict_by_num_likes){
					list_by_num_likes.push([key +" likes dados",dict_by_num_likes[key]])
				}
				put_pie_char("pie_char_by_num_likes","Distribución de usuarios por el número de likes que dieron a los tweets del usuario",list_by_num_likes)

			</script>

			<script>
					function showVal(newVal){
						document.getElementById("customRange1").innerHTML="Mostrar usuarios que dieron " + newVal + " o más likes";
					
					var dict_by_num_likes = {{ registry_dict_by_num_likes }}
					var list_by_num_likes = []
					for(key in dict_by_num_likes){
						if(key>= newVal){
							list_by_num_likes.push([key +" likes dados",dict_by_num_likes[key]])
						}
					}
					put_pie_char("pie_char_by_num_likes","Distribución de usuarios por el número de likes que dieron a los tweets del usuario",list_by_num_likes)
				}
			</script>
			<br><br><br><br>

			<div id="cuarta_fila" class="d-flex w-100 mb-3 justify-content-between flex-row">
					<div class="mb-1 graph" id="num_tweets_distribution"></div>
					<div class="mb-1 graph" id="antiquity_distribution"></div>
			</div>

			<script>
				var dict_by_num_tweets = {{ registry_dict_by_num_tweets|tojson }}
				var registry_dict_by_antiquity = {{ registry_dict_by_antiquity|tojson }}
				var series_data = [];
				for(key in dict_by_num_tweets){
					series_data.push([key ,dict_by_num_tweets[key]])
				}
				put_special_semi_circle_graph("num_tweets_distribution","Distribución <br> usuarios <br> que dieron like <br> por tweets publicados",series_data,"");
				series_data = [];
				for(key in registry_dict_by_antiquity){
					series_data.push([key ,registry_dict_by_antiquity[key]])
				}
				put_special_semi_circle_graph("antiquity_distribution","Distribución <br> usuarios <br> que dieron like <br> por antiguedad",series_data,"");
			</script>

<br><br><br><br>
<h3>Usuarios que dieron like a {{ name }}</h3>
<div id="usuarios_que_dieron_like">
	<table class="table table-striped table-dark aux_header" id="tabla_usuarios_que_dieron_like_header">
	</table>
	<table class="table table-striped list table-dark" id="tabla_usuarios_que_dieron_like">
	</table>
	<ul class="pagination"></ul>
</div>
<script>make_table_with_special_doc("usuarios_que_dieron_like","tabla_usuarios_que_dieron_like_header","tabla_usuarios_que_dieron_like",['user_screen_name','verified',"tweets","joined","num_likes"],{{ registry_dict|tojson }})</script>


		

			<script>put_footer()</script>
			<script src="{{ url_for('static', filename='js/common/get_dropdown_selection.js') }}"></script>


	</body>	

	</html>